body{
    background-color: aqua;
}
#login{
    background-color: white;
    height: 300px;
    width: 200px;
    margin: 200px auto 0 auto;
    padding:10px;
    border-right: solid 10px blue;
    border-radius: 10px;
    position: relative;
}
#check{
    display: inline-block;
    background-color: blue;
}
#rem{
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px ;
}
#log{
display:block;
position: absolute;
left: 20px;
width: 180px;
background-color:rgb(28, 173, 173);
border-radius: 5px;
margin-bottom: 10px;
font-family: 'Courier New', Courier, monospace;
}
#fg{
    display: inline-block;
}
